@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: grey;
}

.main {
  text-align: center;
}

.container {
  padding: 2px;
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  display: inline-block;
}

input {
  border-radius: 5px;
  color: white;
  background-color: black;
  padding: 4px 15px 4px 5px;
}

#button {
  display: inline-block;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
  border: black 2px solid;
  opacity: 0.8;
}

#button:hover {
  cursor: pointer;
  opacity: 1;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
  text-align: left;
}

ol li:nth-child(even) {
  background: #dfdfdf;
  text-align: left;
}

.strike {
  text-decoration: line-through;
}
li:hover {
  cursor: pointer;
}
